<app-navbar></app-navbar>

<div class="container">
    <div *ngIf="!employee" class="row justify-content-center mt-15">
        <div class="spinner-border text-danger" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
    <div *ngIf="employee" class="row justify-content-center my-5">
        <div class="col-12 col-md-5 ">
            <div class="card mt-2 w-100 border-0 rounded-0 shadow h-100 px-5">
                <div class="card-block little-profile text-center">
                    <h6 *ngIf="employee?.name; else empty" class=" fw-bold text-capitalize mt-4">
                        {{employee?.id}}]{{employee?.name}}</h6>
                    <img *ngIf="employee?.company_logo; else empty" src="{{employee?.company_logo}}" width="50"
                        class="img-fluid my-3" alt="company logo">
                    <h6 *ngIf="employee?.company; else empty" class=" fw-bold pb-2">Company Name - {{employee?.company}}
                    </h6>
                    <h6 *ngIf="employee?.rating; else empty" class=" fw-bold py-2">{{employee?.rating}}</h6>
                    <h6 *ngIf="employee?.designation; else empty" class=" fw-bold pb-2">{{employee?.designation}}</h6>
                    <p *ngIf="employee?.interests; else empty" class="pb-2">{{employee?.job_descripton}}</p>
                    <h6 *ngIf="employee?.company_logo; else empty" class=" fw-bold pb-4">Interests -
                        {{employee?.interests}}</h6>
                    <a *ngIf="employee?.view_more; else empty" role="button" href="{{employee?.view_more}}"
                        class="btn shadow border btn-outline-dark float-end m-2" target="_blank">View More</a>

                </div>
            </div>
        </div>
    </div>
</div>
<ng-template #empty>
    <p class="text-center">-</p>
</ng-template>